<!-- Template for custom radio -->

<div class="checkbox checkbox-radio-custom">
  <label class="clickable">
    <input name="{{name}}" data-ng-disabled="disabledIf" type="radio" data-ng-model="model" value="{{model.value}}">
    <span class="decoy decoy-radio {{decoyStyles}}" data-ng-if="checkIconHtml" data-ng-bind-html="checkIconHtml"></span>
    <span class="decoy decoy-radio {{decoyStyles}}" data-ng-if="!checkIconHtml">
      <i class="fa fa-circle text__blue transition"></i>
    </span>
    <span data-ng-if="label" data-ng-bind="label"></span>
  </label>
</div>