<!-- Template for securebox -->

<div class="securebox transition text-xs-center" data-ng-class="{'clickable': !active}">

  <!-- Warning -->
  <div class="warning {{classes}}" data-ng-if="!active">
    <!-- Lock icon -->
    <i class="fa fa-lock fa-5x"></i>
    <p data-ng-bind-html="warning"></p>
  </div>

  <!-- Plain/HTML text -->
  <div data-ng-if="!!active && isText" data-ng-bind-html="textSource"></div>

  <!-- Images -->
  <img class="full-responsive" data-ng-if="!!active && isImage" data-ng-src="{{imageSource}}" alt="{{title}}">

  <!-- Video -->
  <video class="full-responsive" data-ng-if="!!active && isVideo" title="{{title}}" controls>
    <source data-ng-repeat="s in videoSource" data-ng-src="{{s.video}}" type="{{s.type}}"> Your browser does not support video tag.
  </video>

  <!-- Audio -->
  <audio class="full-responsive" data-ng-if="!!active && isAudio" title="{{title}}" controls>
    <source data-ng-repeat="s in audioSource" data-ng-src="{{s.audio}}" type="{{s.type}}"> Your browser does not support audio tag.
  </audio>
</div>