---
title: Bootstrap 4 in action
---

<!--
<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p>
</div>
-->

<section class="container-fluid">
  <div class="row">
    <article class="col-md-7 col-xs-12">
      <h2 class="h3">Hi! I'm testing Bootstrap 4</h2>
      <p>Do you know Bootstrap 4 grid is built on Flex?</p>
      <p>Do you also know we can edit the amount of cols?</p>
      <p><code>$grid-columns: 10</code> is currently set in <code>_bootstrap-variables.scss</code> partial.</p>
    </article>
    <aside class="col-md-3 col-xs-12">
      <h3 class="h4">Aside content <small>if required</small></h3>
    </aside>
  </div>
</section>
