<header class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="#" ui-sref="home">MBAS <small class="hidden-sm-down text__gray">Middleman 4 + Bootstrap 4 + Angular + Sass</small></a>
  <responsive-menu menu-elements="menu" anchor-classes=""></responsive-menu>
</header>


