<header class="navbar navbar-fixed-top navbar-dark bg__purple">
  <a class="navbar-brand text__cream" href="#" data-ui-sref="home">MBAS <small class="hidden-sm-down text__orange">Middleman 4 + Bootstrap 4 + Angular + Sass</small></a>
  <span data-responsive-menu data-menu-elements="menu" data-anchor-classes=""></span>
</header>


