<header class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="#" ui-sref="home">
    MBAS
    <small class="hidden-sm-down text__gray">
      Middleman 4 + Bootstrap 4 + Angular + Sass
    </small>
  </a>
  <nav>    
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item dropdown" ng-if="state === 'home'">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Home items
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
              <li class="dropdown-item" du-scrollspy="install"><a href="#install" du-smooth-scroll>Install</a></li>
              <li class="dropdown-item" du-scrollspy="favicons"><a href="#favicons" du-smooth-scroll>Favicons</a></li>
              <li class="dropdown-item" du-scrollspy="angular"><a href="#angular" du-smooth-scroll>AngularJS</a></li>
              <li class="dropdown-item" du-scrollspy="sass"><a href="#sass" du-smooth-scroll>Sass</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown" ng-if="state === 'form-elements'">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Form elements
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
              <li class="dropdown-item" du-scrollspy="custom-form-elements"><a href="#custom-form-elements" du-smooth-scroll>Custom form elements:</a></li>
              <li class="dropdown-item" du-scrollspy="file-upload"><a href="#file-upload" du-smooth-scroll>File upload</a></li>
              <li class="dropdown-item" du-scrollspy="select"><a href="#select" du-smooth-scroll>Select</a></li>
              <li class="dropdown-item" du-scrollspy="checkbox"><a href="#checkbox" du-smooth-scroll>Checkbox</a></li>
              <li class="dropdown-item" du-scrollspy="radio-button"><a href="#radio-button" du-smooth-scroll>Radio button</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown" ng-if="state === 'environment-detection'">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Environment detection
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
              <li class="dropdown-item" du-scrollspy="introduction">
                  <a href="#introduction" class="transition" du-smooth-scroll>
                      Introduction
                  </a>
              </li>
              <li du-scrollspy="code"><a href="#code" class="transition" du-smooth-scroll>Code</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown" ng-if="state === 'sass-documentation'">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Sass documentation
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
               <li class="dropdown-item" du-scrollspy="introduction">
                  <a href="#introduction" class="transition" du-smooth-scroll>Introduction</a>
              </li>
               <li class="dropdown-item" du-scrollspy="variables">
                  <a href="#variables" class="transition" du-smooth-scroll>Variables</a>
              </li>
               <li class="dropdown-item" du-scrollspy="functions">
                  <a href="#functions" class="transition" du-smooth-scroll>Functions</a>
              </li>
               <li class="dropdown-item" du-scrollspy="mixins">
                  <a href="#mixins" class="transition" du-smooth-scroll>Mixins</a>
              </li>
               <li class="dropdown-item" du-scrollspy="shared-components">
                  <a href="#shared-components" class="transition" du-smooth-scroll>Shared components</a>
              </li>
               <li class="dropdown-item" du-scrollspy="app">
                  <a href="#app" class="transition" du-smooth-scroll>App components and partials</a>
              </li>
          </ul>
      </li>
      <li class="nav-item dropdown" ng-if="state === 'securebox'">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Securebox
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
               <li class="dropdown-item" du-scrollspy="reason-why">
                  <a href="#reason-why" class="transition" du-smooth-scroll>
                      Reason why
                  </a>
              </li>
               <li class="dropdown-item" du-scrollspy="source"><a href="#source" class="transition" du-smooth-scroll>Source</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Views
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><a href="#" ui-sref="sass-documentation">Sass documentation</a></li>
              <li class="dropdown-item"><a href="#" ui-sref="form-elements">Form elements</a></li>
              <li class="dropdown-item"><a href="#" ui-sref="environment-detection">Environment detection</a></li>
              <li class="dropdown-item"><a href="#" ui-sref="parallax">Parallax layouts</a></li>
              <li class="dropdown-item"><a href="#" ui-sref="securebox">Securebox modules</a></li>
          </ul>
      </li>
    </ul>
  </nav>
</header>


