<!-- Template for Responsive Menu -->
<nav class="responsive-menu" role="navigation">
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item" ng-repeat="element in menuElements.desktop | orderBy:'order' track by $index">
      <a class="nav-link {{classes}}" href="#" ui-sref="{{element.sref}}" ng-bind-template="{{element.name}}"></a>
    </li>
    <li class="nav-item hamburger-toggle clickable" ng-class="{'active': isOpen}" ng-click="isOpen = !isOpen" ng-show="!isMobileEmpty">
      <div class="hamburger-icon">
        <span class="hamburger-icon-bullet"></span>
      </div>
      <span class="sr-only">Mobile Menu</span>
    </li>
  </ul>
</nav>

<nav class="mobile-menu" ng-class="{'opened': isOpen}" role="navigation" ng-show="!isMobileEmpty">
  <div class="col-md-10 col-md-offset-1 col-xs-12 scrollable">
    <%= image_tag 'favicon.jpg', :class => "img-fluid mobile-logo" %>
    <ul class="nav">
      <li class="nav-item" ng-repeat="element in menuElements.mobile | orderBy:'order':true track by $index">
        <a class="nav-link {{classes}}" href="#" ui-sref="{{element.sref}}" ng-bind-template="{{element.name}}"></a>
      </li>
    </ul>
  </div>
</nav>