<section class="page page--environment-detection container-fluid">
  <div class="row">
    <menu class="col-lg-3 col-md-4 hidden-sm-down sidebar" data-du-spy-context>
      <ul class="nav nav-pills nav-stacked sticky">
        <li class="nav-item"><a href="#introduction" data-du-scrollspy="introduction" class="transition nav-link" data-du-smooth-scroll>Introduction</a></li>
        <li class="nav-item"><a href="#code" data-du-scrollspy="code" class="transition nav-link" data-du-smooth-scroll>Code</a></li>
      </ul>
    </menu>
    <div class="col-lg-9 col-md-8 col-xs-12 content">
      <main id="introduction" class="article">
        <h2 class="main__title">Environment detection
          <small>
            <a href="http://pgwjs.com/pgwbrowser/" target="_blank" class="transition clickable">PgwBrowser</a>
          </small>
        </h2>
        <p>PgwBrowser is a Zepto/jQuery library to detect OS, browser, viewport, and more.</p>
        <p>You can also read the <a href="http://pgwjs.com/pgwbrowser/" target="_blank" class="transition clickable">full documentation</a> for more information.</p>
      </main>
      <hr>
      <article id="code" class="article">
        <h2 class="secondary__title">Code</h2>
        <p>Object: <code>$scope.envDetection</code>.</p>
        <pre data-ng-bind-template="{{envDetection | json}}"></pre>
      </article>
    </div>
  </div>
</section>