---
title: Bootstrap 4 in action
---

<!--
<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
  </p>
</div>
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">LALALAL</div>
  </div>
</div>
